absl_py==1.2.0+computecanada
argon2_cffi==21.3.0+computecanada
argon2_cffi_bindings==21.2.0+computecanada
asttokens==2.0.8+computecanada
astunparse==1.6.3+computecanada
attrs==22.1.0+computecanada
backcall==0.2.0+computecanada
beautifulsoup4==4.11.1+computecanada
bleach==5.0.1+computecanada
cachetools==5.2.0+computecanada
certifi==2022.9.14+computecanada
cffi==1.15.0+computecanada
charset_normalizer==2.1.1+computecanada
-e git+https://github.com/zudi-lin/pytorch_connectomics.git@31590679296ee88220bdf4882a42be16422fc0e5#egg=connectomics
cycler==0.11.0+computecanada
Cython==0.29.21+computecanada
debugpy==1.6.3+computecanada
decorator==5.1.1+computecanada
defusedxml==0.7.1+computecanada
einops==0.5.0
entrypoints==0.4+computecanada
executing==1.1.0
fastjsonschema==2.16.2
flatbuffers==1.12+computecanada
fonttools==4.37.4
gast==0.4.0+computecanada
google-auth==2.12.0
google-pasta==0.2.0+computecanada
google_auth_oauthlib==0.4.6+computecanada
GPUtil==1.4.0+computecanada
grpcio==1.47.0+computecanada
h5py==3.6.0+computecanada
idna==3.4+computecanada
imageio==2.22.1
importlib-metadata==5.0.0
importlib_resources==5.9.0+computecanada
ipykernel==6.16.0
ipython==8.5.0+computecanada
ipython_genutils==0.2.0+computecanada
ipywidgets==8.0.2
jedi==0.18.1+computecanada
Jinja2==3.1.2+computecanada
joblib==1.2.0
jsonschema==4.16.0
jupyter==1.0.0+computecanada
jupyter-console==6.4.4
jupyter_client==7.3.5
jupyter_core==4.11.1+computecanada
jupyterlab-widgets==3.0.3
jupyterlab_pygments==0.2.2+computecanada
keras==2.9.0+computecanada
Keras-Preprocessing==1.1.2+computecanada
kiwisolver==1.3.2+computecanada
libclang==14.0.1+computecanada
Markdown==3.4.1+computecanada
MarkupSafe==2.1.1+computecanada
matplotlib==3.5.2+computecanada
matplotlib-inline==0.1.6
mistune==2.0.4+computecanada
monai==1.0.0
nbclient==0.7.0
nbconvert==7.2.1
nbformat==5.6.1
nest-asyncio==1.5.6
networkx==2.8.7
notebook==6.4.12+computecanada
numpy==1.23.0+computecanada
oauthlib==3.2.1
opencv-python==4.5.1.48+computecanada
opt-einsum==3.3.0+computecanada
packaging==21.3+computecanada
pandocfilters==1.5.0+computecanada
parso==0.8.3+computecanada
pexpect==4.8.0+computecanada
pickleshare==0.7.5+computecanada
Pillow==9.2.0+computecanada
Pillow_SIMD==9.0.0.post1+computecanada
pkgutil_resolve_name==1.3.10+computecanada
prometheus_client==0.14.1+computecanada
prompt-toolkit==3.0.31
protobuf==3.19.6
psutil==5.9.1+computecanada
ptyprocess==0.7.0+computecanada
pure_eval==0.2.2+computecanada
pyasn1==0.4.8+computecanada
pyasn1-modules==0.2.8+computecanada
pycparser==2.21+computecanada
Pygments==2.13.0+computecanada
pyparsing==3.0.9+computecanada
pyrsistent==0.18.1+computecanada
python-dateutil==2.8.2+computecanada
PyWavelets==1.3.0+computecanada
PyYAML==6.0+computecanada
pyzmq==23.1.0+computecanada
qtconsole==5.3.2+computecanada
QtPy==2.2.1
requests==2.28.1+computecanada
requests_oauthlib==1.3.1+computecanada
rsa==4.9+computecanada
scikit_image==0.19.3+computecanada
scikit_learn==1.1.2+computecanada
scipy==1.8.0+computecanada
Send2Trash==1.8.0+computecanada
six==1.16.0+computecanada
soupsieve==2.3.2.post1+computecanada
stack-data==0.5.1
tensorboard==2.9.1+computecanada
tensorboard-data-server==0.6.1+computecanada
tensorboard_plugin_wit==1.8.1+computecanada
tensorflow==2.9.0+computecanada
tensorflow_estimator==2.9.0+computecanada
tensorflow_io_gcs_filesystem==0.26.0+computecanada
termcolor==2.0.1
terminado==0.16.0
threadpoolctl==3.1.0+computecanada
tifffile==2022.8.12+computecanada
tinycss2==1.1.1+computecanada
torch==1.12.1+computecanada
torchvision==0.13.1+torch1121.computecanada
tornado==6.2
tqdm==4.64.1+computecanada
traitlets==5.4.0+computecanada
typing_extensions==4.3.0+computecanada
urllib3==1.26.12+computecanada
wcwidth==0.2.5+computecanada
webencodings==0.5.1+computecanada
Werkzeug==2.2.2+computecanada
widgetsnbextension==4.0.3
wrapt==1.13.3+computecanada
yacs==0.1.8+computecanada
zipp==3.8.1+computecanada